.scale {
  animation: bc-scale 10s infinite;
  -webkit-animation: bc-scale 10s infinite;
  -moz-animation: bc-scale 10s infinite;
  -o-animation: bc-scale 10s infinite;
}

.scale-with-delay {
  animation: bc-scale 10s infinite;
  -webkit-animation: bc-scale 10s infinite;
  -moz-animation: bc-scale 10s infinite;
  -o-animation: bc-scale 10s infinite;
    
  -moz-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
}

@-moz-keyframes bc-scale {
  0%,45% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  55%,100% {
    -moz-transform: scale(1);
  }
}

@-webkit-keyframes bc-scale {
  0%,45% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  55%,100% {
    -webkit-transform: scale(1);
  }
}

@-o-keyframes bc-scale {
  0%,45% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(1.1);
  }
  55%,100% {
    -o-transform: scale(1);
  }
}

@keyframes bc-scale {
  0%,45% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  55%,100% {
    transform: scale(1);
  }
}